.navigation__main {
  display: flex;
  list-style: none;
  /* border: 3px solid red; */
  flex-wrap: wrap;
  align-items: center;
}

.navigation__centered {
  /* border: 3px solid green; */
  display: flex;
  margin: auto;
  gap: 20rem;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.dogImage {
  height: 10rem;
  margin-right: 1rem;
}

.navigation__hamburger {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navigation__centered {
    display: none;
  }

  .navigation__hamburger {
    display: flex;
    margin-left: auto;
    font-size: 6rem;
    margin-right: 4rem;
  }

  /* .mainNav {
    flex-direction: column;
    gap: 2rem;
  } */
}
