.navigation__elements {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  align-items: center;
}

.navigation__elements--centered {
  display: flex;
  margin: auto;
  gap: 10rem;
  flex-wrap: nowrap;
}

.navigation__link {
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  /* font-family: "Lato", sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  padding: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: black;
}

.navigation__link.active {
  border-bottom: 2px solid blue;
  padding: 1rem;
  color: rgb(48, 91, 220);
}

.navigation__link:hover {
  color: rgb(48, 91, 220);
}

.navigation__logo {
  height: 15rem;
}

.navigation__hamburger {
  display: none;
}

/* .mainContainer {
  position: relative;
  border: 3px solid green;

} */

.navigation__image {
  background-image: url("../assets/sky.jpg");
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

@media screen and (max-width: 1200px) {
  .navigation__elements--centered {
    display: none;
  }

  .navigation__hamburger {
    display: flex;
    margin-left: auto;
    font-size: 6rem;
    margin-right: 4rem;
  }
}
