.navigation__main {
  display: flex;
  list-style: none;
  /* border: 3px solid red; */
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 4rem;
}

.navigation__centered {
  /* border: 3px solid green; */
  display: flex;
  margin: auto;
  gap: 10rem;
  flex-wrap: nowrap;
}

a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
  font-family: "Lato", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

.fluffy {
  height: 15rem;
  /* border: 2px solid red; */
}

.navigation__hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navigation__centered {
    display: none;
  }

  .navigation__hamburger {
    display: flex;
    margin-left: auto;
    font-size: 6rem;
    margin-right: 4rem;
  }
}

.main__cotton {
  width: 65px;
  /* border: 2px solid red; */
}

.sky {
  /* border: 3px solid green; */
  background-image: url("../assets/sky.jpg");
}

