.col_1_of_2 {
  width: calc((100% - 2rem) / 2);
  float: left;
  /* background-color: red; */
  font-size: 1.8rem;
}

.col_1_of_2:not(:last-child) {
  margin-right: 2rem;
}

.grid::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.text__primary_left {
  text-align: left;
  margin-bottom: 1rem;
}

.text__primary_center {
  text-align: center;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.services__sub {
  font-weight: bold;
  margin-left: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  background-color: lightgray;
  display: inline-block;
}

.parties_para {
  float: left;
  margin-left: 3rem;
  text-align: left;
  color: grey;
  /* border: 3px solid green; */
}


@media screen and (max-width: 1500px) {
  .services__sub {
    margin-left: 0;
  }

  .text__primary_center {
    text-align: left;
  }

  .mobile {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .services__sub {
    margin-left: 0;
    font-size: 1rem;
  }

  .col_1_of_2 {
    font-size: 1rem;
  }

}

