.col_1_of_2 {
  width: calc((100% - 2rem) / 2);
  float: left;
  font-size: 1.8rem;
}

.col_1_of_2:not(:last-child) {
  margin-right: 2rem;
}

.grid::after,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.services__topic {
  font-weight: bold;
  margin-left: 7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  background-color: lightgray;
  display: inline-block;
}

.services__list--item {
  text-align: center;
}

.services__topic--leftalign {
  text-align: left;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1500px) {
  .services__topic {
    margin-left: 0;
  }

  .services__list--item {
    text-align: left;
  }

  .services__list--item--price--mobile {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .services__topic {
    margin-left: 0;
    font-size: 1rem;
  }

  .col_1_of_2 {
    font-size: 1rem;
  }
}

