.main__imageContainer--animal {
  width: 85%;
  margin-top: 28vh;
  margin-left: 50vw;
  transform: translate(-50%, -10%);
  display: block;
}

@media screen and (max-width: 1500px) {
  .main__imageContainer--animal {
    width: 95%;
    margin-top: 30vh;
  }
}

@media screen and (max-width: 900px) {
  .main__imageContainer--animal {
    width: 95%;
    margin-top: 20vh;
  }
}

@media screen and (max-width: 400px) {
  .main__imageContainer--animal {
    width: 95%;
    margin-top: 30vh;
  }
}
