.card__main {
  display: flex;
  flex-wrap: wrap;
}

.card__content {
  width: 40%;
  background-color: white;
  margin: 2rem auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  height: 40rem;
  /* -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2); */
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  box-shadow: 1px 4px 8px rgb(0 0 0 / 9%);
}

.card__content:hover {
  transform: scale(1.05);
  /* transform: rotateY(180deg); */
}

.card__content--heading {
  /* border: 2px solid red; */
  padding: 1rem 2rem;
  /* margin-bottom: 1rem; */
  background-color: salmon;
}

.card__content--body {
  /* border: 2px solid red; */
  padding: 1rem 2rem;
  height: calc(100% - (7.7rem));
  /* margin-bottom: 1rem; */
  background-image: url("../assets/ladybug.jpg");
  background-size: cover;
}

/* .card__content--body img {
  width: 100%;
} */

.card__content--button {
  /* border: 2px solid red; */
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 0;
  /* display: block; */
}

@media screen and (max-width: 800px) {
  .card__main {
    flex-direction: column;
  }
  .card__content {
    width: 80%;
  }
  .card__content:hover {
    transform: none;
  }
}
